@import "_variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Cormorant Garamond', serif;
}

html{
    font-size: 62.5%;

        @media (max-width: 1450px){
            font-size: 52%;
        }

        @media (max-width: 500px){
            font-size: 45%;
        }
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 1000px){
        justify-content: start;
        padding-left: 3rem;
    }

    .logo{
            .logo-img{
                height: 6rem;
            }
    }

    .menu{
        display: none;

        @media (max-width: 1000px){
            position: absolute;
            display: block;
            width: 4rem;
            height: 2.5rem;
            top: 1.2rem;
            right: 2.4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .menu-line{
            @media (max-width: 1000px){
                width: 100%;
                height: 0.3rem;
                background-color: map-get($colors, wine-color);
                transition: transform 0.6s;
            }
        }

        .change.menu-line-1{
            @media (max-width: 1000px){
                transform: rotate(40deg) translate(.5rem, 1rem);
            }
        }
    
        .change.menu-line-2{
            @media (max-width: 1000px){
                transform: translate(-0.2rem, 2rem);
            }
        }
    
        .change.menu-line-3{
            @media (max-width: 1000px){
                transform: rotate(-40deg) translate(.5rem, -1rem);
            }
        }
    }

    .nav-list{
        display: flex;
        justify-content: center;

            @media (max-width: 1000px){
                position: absolute; 
                top: 5rem;
                right: -21rem;
                height: calc(100vh - 5rem);
                flex-direction: column;
                justify-content: start;
                border-radius: 0.5rem 0 0 0;
                padding: 2rem;
                background-color: lighten(map-get($colors, black-color), 25%);
                transition: right 0.6s;
            }

            @media (max-width: 500px){
                top: 6.5rem;
            }

            .nav-link{
                position: relative;
                font-size: 1.6rem;
                color: map-get($colors, white-color);
                width: 15rem;
                margin: 0 3rem;
                text-transform: uppercase;
                text-align: center;
                border: 0.1rem solid map-get($colors, white-color);
                padding: 0.4rem 0;
                letter-spacing: 0.1rem;
                overflow: hidden;

                    @media (max-width: 1200px){
                        margin: 0 1.5rem; 
                    }

                    @media (max-width: 1000px){
                        margin: 1.5rem; 
                    }

                    &::before{
                        content: "";
                        position: absolute;
                        width: 150%;
                        height: 5rem;
                        background-color: map-get($colors, wine-color);
                        left: -20%;
                        transform-origin: left bottom;
                        opacity: 0.8;
                        transform: rotate(-40deg) translateX(-4rem);
                        transition: left 0.4s;
                    }

                    &:hover::before{
                        left: 110%;
                    }
            }
    }

    .change.nav-list{
        right: 0;
    }
}

.page-btn{
    position: fixed;
    z-index: 50;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    border-radius: 50%;

        img{
            width: 4rem;
            opacity: 0.4;
            cursor: pointer;
            transition: opacity 0.3s;

                &:hover{
                    opacity: 0.9;
                }
        }
}

.left-btn{
    left: 4rem;
    animation: glow1 1s ease-in-out 2s 6;

    @media (max-width: 800px){
        left: 2rem;
    }

    @media (max-width: 500px){
        left: 0.5rem;
    }

        img{
            transform: rotate(-90deg);
        }
}

.right-btn{
    right: 4rem;
    animation: glow2 1s ease-in-out 2s 6;

    @media (max-width: 800px){
        right: 2rem;
    }

    @media (max-width: 500px){
        right: 0.5rem;
    }

        img{
            transform: rotate( 90deg);
        }
}

@keyframes glow1 {
    0%{
        box-shadow: none;
    }

    50%{
        box-shadow: -1rem 1rem 2rem map-get($colors, wine-color);;
    }

    100%{
        box-shadow: none;
    }
}

@keyframes glow2 {
    0%{
        box-shadow: none;
    }

    50%{
        box-shadow: 1rem 1rem 2rem map-get($colors, wine-color);;
    }

    100%{
        box-shadow: none;
    }
}

.progress-wrapper{
    position: fixed;
    z-index: 50;
    left: 4rem;
    bottom: 3rem;

    @media (max-width: 800px){
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

        .progress{
            margin: 1rem 0;
            text-align: center;

                h2{
                    font-size: 2.5rem;
                    font-weight: 300;
                    color: map-get($colors, white-color);
                }
        }

        .circle-wrapper{
            display: flex;

                .circle{
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    margin: 0 0.3rem;
                    border: 0.1rem solid map-get($colors, white-color);
                    transition: background-color 0.3s;
                }

                .circle1{
                    background-color: #ddd;
                }
        }

}

.wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

        section{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            overflow: hidden;
            transition: left 1s;
        }

        .section-1{
            z-index: 20;
        }

        .section-wrapper{
            width: inherit;
            height: inherit;
            transform: scale(1.5);
            transition: all 2s;
        }

        .section-1-wrapper{
            background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url(../images/section-1-bg.jpg) center no-repeat;
            background-size: cover;

                .section-1-heading-wrapper{
                    position: absolute;
                    top: 70%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                        @media (max-width: 1200px){
                            width: 80%; 
                        }
                }

                .section-1-heading{
                    font-size: 10rem;
                    color: map-get($colors, white-color);
                    font-weight: 300;
                    text-transform: capitalize;
                    letter-spacing: 0.1rem;
                    border-bottom: 0.2rem solid map-get($colors, wine-color);
                    user-select: none;
                    text-align: right;

                        @media (max-width: 1200px){
                            font-size: 8rem;
                        }

                        @media (max-width: 800px){
                            font-size: 6rem;
                        }

                        @media (max-width: 600px){
                            font-size: 4rem;
                        }
                }
        }

        .section-2{
            z-index: 18;
        }

        .section-2-wrapper{
            background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9)), url(../images/section-2-bg.jpg) center no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

                @media (max-width: 1000px){
                    flex-direction: column;
                }

                .sale{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                        @media (max-width: 1000px){
                            order: 1;
                        }

                        .sale-bag{
                            opacity: 0.9;
                            width: 45rem;

                                @media (max-width: 1600px){
                                    width: 35rem;
                                }

                                @media (max-width: 1300px){
                                    width: 30rem;
                                }

                                @media (max-width: 1200px){
                                    width: 25rem;
                                }

                                @media (max-width: 800px){
                                    width: 20rem;
                                }

                                @media (max-width: 600px){
                                    width: 15rem;
                                }
                        }

                        .sale-btn{
                            width: 20rem;
                            height: 5rem;
                            font-size: 2rem;
                            font-weight: 300;
                            text-transform: uppercase;
                            letter-spacing: 0.1rem;
                            margin-top: 4rem;
                            border: 0.1rem solid map-get($colors, white-color);
                            color: map-get($colors, white-color);
                            background-color: transparent;
                            transition: background-color 0.3s;

                                @media (max-width: 1200px){
                                    width: 15rem;
                                    height: 4rem;
                                    font-size: 1.7rem;
                                }

                                @media (max-width: 600px){
                                    width: 12rem;
                                    height: 3rem;
                                    font-size: 1.4rem;
                                }

                                &:hover{
                                background-color: map-get($colors, wine-color);
                                }
                        }
                }

                .wine-bottle{
                    opacity: 0.7;
                    width: 80rem;

                        @media (max-width: 1600px){
                            width: 65rem;        
                        }

                        @media (max-width: 1300px){
                            width: 60rem;        
                        }

                        @media (max-width: 1200px){
                            width: 50rem;
                        }

                        @media (max-width: 800px){
                            width: 40rem;
                        }

                        @media (max-width: 600px){
                            width: 30rem;
                        }
                }
        }

        .section-3{
            z-index: 16;
            background-color: map-get($colors, black-color);
        }

        .section-3-wrapper{
            background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9)), url(../images/section-3-bg.jpg) center no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;

                .section-3-heading{
                    font-size: 20rem;
                    color: lighten(map-get($colors, black-color), 85%);
                    text-transform: uppercase;
                    transform: rotate(-20deg);
                    text-align: center;
                    user-select: none;
                    text-shadow: 0.5rem 1.5rem map-get($colors, black-color);

                        @media (max-width: 1000px){
                            font-size: 12rem;
                        }

                        @media (max-width: 800px){
                            font-size: 11rem;
                            opacity: 0.7;
                        }

                        @media (max-width: 600px){
                            font-size: 10rem;
                        }

                        @media (max-width: 500px){
                            font-size: 8rem;
                        }
                }

                .frame-img{
                    width: 100rem;
                    position: absolute;
                    opacity: 0.5;

                        @media (max-width: 1000px){
                            width: 70rem;
                        }

                        @media (max-width: 800px){
                            width: 60rem;
                        }

                        @media (max-width: 600px){
                            width: 35rem;
                        }
                }

                .grapes-img{
                    width: 45rem;
                    position: absolute;
                    opacity: 0.6;
                    transition: all 1.5s;

                        &:hover{
                            opacity: 1;
                            transform: scale(2);

                            @media (max-width: 500px){
                                transform: scale(1.5);
                            }
                        }

                        @media (max-width: 1000px){
                            width: 25rem;
                        }

                        @media (max-width: 500px){
                            width: 15rem;
                        }
                }
        }

        .section-4{
            z-index: 14;
        }

        .section-4-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

                .section-4-bg{
                    width: 110%;
                    height: 110%;
                    z-index: -2;
                    position: absolute;
                    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url(../images/section-4-bg.jpg) center no-repeat;
                    background-size: cover;
                    filter: blur(0.5rem);
                }

                .section-4-heading{
                    user-select: none;
                    color: map-get($colors, wine-color);
                    font-size: 10rem;
                    font-weight: 300;
                    text-align: center;
                    margin-bottom: 7rem;

                        @media (max-width: 1000px){
                            font-size: 8rem;
                        }

                        @media (max-width: 600px){
                            font-size: 6rem;
                        }
                }

                .new-wines-img{
                    width: 70rem;
                    border: 0.1rem solid map-get($colors, white-color);
                    padding: 1rem;
                    opacity: 0.7;

                        @media (max-width: 1000px){
                            width: 60rem;
                        }

                        @media (max-width: 800px){
                            width: 45rem;
                        }

                        @media (max-width: 600px){
                            width: 35rem;
                        }
                }
        }

        .section-5{
            z-index: 12;
        }

        .section-5-wrapper{
            background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(../images/section-5-bg.jpg) center no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;

                @media (max-width: 1000px){
                    flex-direction: column;
                }

                .footer-list{

                        @media (max-width: 1000px){
                            width: 20rem;
                            margin: 2rem auto;
                        }

                        li{
                            font-size: 2.1rem;
                            font-weight: 700;
                            letter-spacing: 0.1rem;
                            color: lighten(map-get($colors, black-color), 85%);
                            margin: 1rem 0;

                                &:first-child{
                                    text-transform: uppercase;
                                    color: map-get($colors, white-color);
                                }

                                a{
                                    color: inherit;
                                }
                        }
                }

                .footer-img{
                    width: 60rem;
                    margin: 0 20rem;
                    opacity: 0.85;

                        @media (max-width: 1600px){
                            width: 45rem; 
                            margin: 0 12rem; 
                        }

                        @media (max-width: 1300px){
                            width: 35rem; 
                            margin: 0 10rem; 
                        }

                        @media (max-width: 1200px){
                            width: 25rem;
                            margin: 0 7rem;
                        }

                        @media (max-width: 1000px){
                            width: 20rem;
                            order: 1;
                        }
                }

                .copyright{
                    position: absolute;
                    bottom: 2.4rem;
                    font-weight: 600;
                    text-align: center;
                    color: lighten(map-get($colors, black-color), 90%);
                    letter-spacing: 0.2rem;
                    font-size: 2.1rem;
                }

        }
}

